.page-academy {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
    url('/img/academy.jpg');
}

.bg-academy {
    background-color: $white;
    padding: 100px 0;

    & .academy-wrapper {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    & .academy-top {

        & img {
            margin: 0 auto;
            display: block;
        }
    }

    & .academy-bottom {
        text-align: center;

        & h2 {
            font-size: $medium-text;
            margin-bottom: 30px;
        }
    
        & p {
            margin: 0 auto;
            font-size: $small-medium-text;
            line-height: 26px;
            color: $text-small-color;
            width: 70%;
        }
    }
}

.bg-qualidades {
    background-color: $white;
    padding-bottom: 100px;

    & .qualidades-wrapper {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    & .qualidades-left, & .qualidades-right, & .qualidades-right-inverso, & .qualidades-left-inverso {
        flex: 1;
    }

    & .qualidades-left {

        & img {
            margin: 0 auto;
            display: block;
        }
    }

    & .qualidades-right {
        text-align: center;

        & h2 {
            font-size: $medium-text;
            margin-bottom: 30px;
        }
    
        & p {
            margin: 0 auto;
            font-size: $small-medium-text;
            line-height: 26px;
            color: $text-small-color;
        }
    }

    & .qualidades-right-inverso {

        & img {
            margin: 0 auto;
            display: block;
        }
    }

    & .qualidades-left-inverso {
        text-align: center;

        & h2 {
            font-size: $medium-text;
            margin-bottom: 30px;
        }
    
        & p {
            margin: 0 auto;
            font-size: $small-medium-text;
            line-height: 26px;
            color: $text-small-color;
        }
    }
}

.bg-matricula {
    background-color: $white;
    padding: 50px 0 100px 0;

    & .matricula-cta {
        text-align: center;
        box-shadow: rgba(7, 7, 7, 0.1) 0px 3px 14px, rgba(19, 19, 19, 0.1) 0px 3px 36px, rgba(20, 20, 20, 0.1) 0px 3px 30px;
        padding: 50px 0;
        width: 80%;
        margin: 0 auto;

        & h2 {
            font-size: $large-text;
            margin-bottom: 30px;
            padding: 0 10px;
        }
    
        & p {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: $small-medium-text;
            line-height: 26px;
            color: $text-small-color;
        }
    }
}