header {
    background-color: $bg-black-color;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 90px;

    & .nav-logo {
        width: 85%;
    }

    & .menu-mobile, .close-menu-mobile {
        display: none;
    }

    & .header-menu {
        display: flex;
        gap: 40px;

        & li a {
            color: $white;
            font-size: 14px;
            font-weight: bold;
            transition: opacity .3s;
        }

        & li:not(:last-of-type) a:hover {
            opacity: .6;
        }

        & li:last-of-type a {
            background-color: $main-color;
            color: $white;
            padding: 12px 18px;
            transition: box-shadow .3s ease-in-out;
        }

        & li:last-of-type a:hover {
            box-shadow: rgba(241, 61, 6, 0.3) 0px 3px 14px, rgba(236, 50, 4, 0.3) 0px 3px 36px, rgba(238, 41, 6, 0.3) 0px 3px 30px;

        }

    }
}

