// Fontes

$font-family: "Montserrat", "sans-serif";
$large-text: 3.75rem; // 60
$medium-large-text: 2.625rem; // 42
$medium-text: 2.25rem; // 36
$semi-medium-text: 1.5rem; // 24
$small-medium-text: 1.125rem; // 18 
$small-text: 0.875rem; // 14

// Cores

$bg-black-color: #111111;
$bg-white-color: #f1f1f1;
$text-main-color: #222222;
$text-small-color: #707070;
$text-alt-color: #777777;
$white: #f1f1f1;
$main-color: #ff1e00;
