header {
    background-color: $bg-black-color;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.2), 0px 8px 24px rgba(17,17,26,0.2), 0px 16px 56px rgba(17,17,26,0.2);

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        height: 90px;
    
        .nav-logo {
            width: 85%;
        }
    
        .header-menu {
            display: flex;
            gap: 40px;
    
            li a {
                color: $white;
                font-size: 18px;
                font-weight: bold;
                transition: opacity .3s;
            }
    
            li:not(:last-of-type) a:hover {
                opacity: .6;
            }
    
            li:last-of-type a {
                background-color: $main-color;
                color: $white;
                padding: 12px 18px;
                transition: box-shadow .3s ease-in-out;
            }
    
            li:last-of-type a:hover {
                box-shadow: rgba(241, 61, 6, 0.3) 0px 3px 14px, rgba(236, 50, 4, 0.3) 0px 3px 36px, rgba(238, 41, 6, 0.3) 0px 3px 30px;
    
            }
        }
    }
}


// Menu Abrir e Fechar

header nav .menu-mobile, nav .close-menu-mobile {
    display: block;
    cursor: pointer;
}

header nav .menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav #header-menu .close-menu-mobile {
    position: absolute;
    top: 20px;
    left: 30px;
}

#header-menu {
    animation: aniClose .3s ease-in;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 100;
    width: 40vw;
    right: -100vw;
    top: 0;
    background-color: $bg-black-color;
    box-shadow: 0px 4px 16px rgba(17,17,26,.4), 0px 8px 24px rgba(17,17,26,.4), 0px 16px 56px rgba(17,17,26,.4);
    visibility: hidden;
}

#header-menu.show {
    visibility: visible;
    right: 0;
    animation: aniOpen .3s ease-in;
}

@keyframes aniOpen {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

@keyframes aniClose {
    0% {
        right: 0%;
    }
    100% {
        right: -100%;
    }
}